@charset "utf-8";
*{
    margin: 0;padding: 0;
}
body{
    background-attachment: #222;
    background-image: url(../public/img/bg2.jpg);
    color: #ffffff;
    background-position: center;
    background-size: cover;
}
#app{
 padding:1rem;
}

/* 날씨 */

#weather-page {
  display: flex;
  justify-content: flex-end; 
  align-items: center;       
  gap: 1.5rem;              
  padding:0 10rem;
  color: white;             
    P{
    display: flex;
    align-items: center; 
    margin: 0; 
        img{
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;     
  } 
  }
}

/* 로그인 전 */
#clock{
    display: flex;
    justify-content: center;
    align-items: center;

}
#login-page {
  height: 85vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: white;
  font-family: 'Arial', sans-serif;
  padding: 0 1rem;
  text-shadow: 3px 2px 7px #111C54;
  h2{
    font-size: 3rem;
    margin: 0;
  }
}

.input-row {
  display: flex;
  gap: 1rem;       
  width: 100%;
  max-width: 400px;
  
  input{
    flex: 1;         
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    
  }
  button{
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    cursor: pointer;
  }
}
.input-row button:hover {
  background-color:  rgba(255, 255, 255, 0.7);
}

/* 명언 문구들 */

#quote-page{
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction:column ;
 text-shadow: 0 0 1px #111C54;
}

#login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo-page{
    margin: -6rem;
    .list{
        display: flex;
        flex-direction: column;
        
        
    }
}
